# Python
__pycache__
.pyc
.env
.env.
venv
.venv
env
.egg-info

# Jupyter
.ipynb_checkpoints

# Streamlit secrets (do NOT commit this)
.streamlitsecrets.toml
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db